- name: Install nginx
  dnf:
    name: nginx
    state: present

- name: Configure nginx as reverse proxy
  template:
    src: nginx.j2
    dest: /etc/nginx/conf.d/reverse-proxy.conf
    mode: '0644'

- name: Start and enable nginx
  systemd:
    name: nginx
    state: started
    enabled: true
- name: Install epel-release
  dnf:
    name: epel-release
    state: present
- name: Install certbot
  dnf:
    name: certbot
    state: present

- name: Temporarily stop nginx
  systemd:
    name: nginx
    state: stopped

- name: Generate cerbot cert
  command: >
    certbot certonly -d {{ domain_name }} --non-interactive --agree-tos --email {{ certbot_admin_email }} --standalone

- name: Start nginx again
  systemd:
    name: nginx
    state: started