- name: Install nginx
  dnf:
    name: nginx
    state: present

- name: Install epel
  command: 'subscription-manager repos --enable codeready-builder-for-rhel-10-x86_64-rpms'

- name: Install epel 2 electric boogaloo
  command: 'dnf -y install https://dl.fedoraproject.org/pub/epel/epel-release-latest-10.noarch.rpm'

- name: Install certbot
  dnf:
    name: certbot
    state: present

- name: Temporarily stop nginx
  systemd:
    name: nginx
    state: stopped

- name: Generate cerbot cert
  command: >
    certbot certonly -d {{ domain_name }} --non-interactive --agree-tos --email {{ certbot_admin_email }} --standalone

- name: Start nginx
  systemd:
    name: nginx
    state: started
    enabled: true

- name: Configure nginx as reverse proxy
  template:
    src: nginx.j2
    dest: /etc/nginx/conf.d/reverse-proxy.conf
    mode: '0644'

- name: Restart nginx
  systemd:
    name: nginx
    state: restarted

